/node_modules
/storage/*.key
/storage/*.sql
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.project
package-lock.json
yarn.lock
/.editorconfig
.buildpath
composer.lock
org.eclipse.wst.validation.prefs-.settings
composer.phar
.DS_Store
/public/js
/public/css
/public/hot
/public/storage
/public/static
/public/fonts/vendor
/public/mix-manifest.json
/public/build
